<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>Dephonic</title>
</head>

<body>
    <!-- Navbar -->
    <div class="bg">
        <nav class="navbar">
            <!-- Container Wrapper -->
            <div class="container">
                <!-- Company logo -->
                <a class="navbar_logo" href="">
                    <img src="" />
                </a>
                <!-- Page tile -->
                <h1 class="page-header">Add a Track</h1>
                <!-- Logout button -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <!-- Add track -->
        <div class="form_add_track">
            <form action="/add" method="post" class="form" enctype="multipart/form-data">
                <!-- Add audio file -->
                <div class="audio_file">
                    <label for="file">File:</label>
                    <input type="file" id="myFile" name="trackaudio">
                </div>
                <!-- Add audio title -->
                <div class="title">
                    {% with messages = get_flashed_messages(category_filter=["track_title"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <label for="title"></label>
                    <input type="hidden" name="user_id" value="{{session['user_id']}}">
                    <input type="text" name="title" placeholder="Add Title" class="form_control">
                </div>
                <!-- Submit form -->
                <input type="submit" value="Add"  class="form_submit">
            </form>
        </div>
    </div>
    <!-- Add track -->
</body>

<!-- Footer -->
<footer>
    <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Q & A</li>
    </ul>
</footer>

</html>