<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='app.css')}}" />
    <title>DePhonic | Edit a Track</title>
</head>

<body>
    <!-- Navbar -->
    <div class="bg">
        <div class="navbar">
            <!-- Container Wrapper -->
            <div class="container">
                <!-- Page tile -->
                <h1 class="page-header">Edit Track</h1>
            </div>
            <!-- Container wrapper -->
        </div>
        <!-- Navbar -->
        <!-- Edit track -->
        <div class="form_edit_track">
            <form action="/track/edit/update" method="post" class="">
                <img src="https://api.qrserver.com/v1/create-qr-code/?data=127.0.0.1:5000/play/{{track.id}} &amp;size=200x200" />
                <!-- Edit audio file -->
                <input type="hidden" value="{{track.id}}" name="id"/>
                <input type="hidden" value="{{track.audio_file}}" name="audio_file"/>
                <!-- Edit audio title -->
                <div class="title">
                    {% with messages = get_flashed_messages(category_filter=["track_title"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <p>Audio File: {{track_filename}}</p>
                    <label for="track_title">Title: </label>
                    <input type="text" name="title" value="{{track.title}}" class="form_control">
                </div>
                <!-- Submit form -->
                <input type="submit" value="Save" class="form_submit">
                <p>or</p>
                <a class="form_submit" href="/destroy/{{track.id}}">Delete</a>
            </form>
        </div>
    </div>
    <!-- Edit track -->
</body>

<!-- Footer -->
<footer>
    <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Q & A</li>
    </ul>
</footer>

</html>