<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DePhonic | Edit a Track</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <!-- Container Wrapper -->
        <div class="container">
            <!-- Company logo -->
            <a class="navbar_logo" href="">
                <img src="" />
            </a>
            <!-- Page tile -->
            <span>Edit Track</span>
            <!-- Logout button -->
            <button type="button" class="navbar_logout">Logout</button>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- Edit track -->
    <div class="form_edit_track">
        <form action="" method="post" class="">
            <!-- Edit audio file -->
            <div class="audio_file">

            </div>
            <!-- Edit audio title -->
            <div class="title">
                {% with messages = get_flashed_messages(category_filter=["track_title"]) %}
                {% if messages %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <label for="track_title"></label>
                <input type="text" name="track_title" value="" class="form_control">
            </div>
            <!-- Submit form -->
            <input type="submit" value="Save" class="form_submit">
            <input type="submit" value="Delete" class="form_submit">
        </form>
    </div>
    <!-- Edit track -->
</body>

<!-- Footer -->
<footer>
    <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Q & A</li>
    </ul>
</footer>

</html>