<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Description of the webpage in search engines -->
    <meta name="description" content="Upload audio files and generate QR codes to share with others">
    <!-- Author(s) for the page -->
    <meta name="author" content="Alexis Romero">
    <!-- Page will refresh every 30 seconds -->
    <meta http-equiv="refresh" content="30">
    <!-- Links for external style sheets -->
    <link type="text/css" rel="stylesheet" href="/flask_app/static/app.css">
    <script type="text/javascript" src="/flask_app/static/app.js"></script>
    <!-- What will appear in the tab -->
    <title>DePhonic</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <!-- Container Wrapper -->
        <div class="container">
            <!-- Company logo -->
            <a class="navbar_logo" href="">
                <img src="" />
            </a>
            <!-- Login/Registration button -->
            <button type="button" class="navbar_login_reg">Login/Register</button>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="content">
        <p> Turn your audio into QR code stickers and get your message out in the world</p>
    </div>
</body>

<!-- Footer -->
<footer>
    <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Q & A</li>
    </ul>
</footer>

</html>