<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Description of the webpage in search engines -->
    <meta name="Dephonic" content="Upload audio files and generate QR codes to share with others">
    <!-- Author(s) for the page -->
    <meta name="author" content="Alexis Romero">
    <!-- Page will refresh every 30 seconds -->
    <meta http-equiv="refresh" content="30">
    <!-- Links for external style sheets -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>Playing {{track.title}}</title>
</head>

<body>
    <div class="bg">
        <div class="big-title-holder">
            <h1 class="big-title">"{{track.title}}"</h1>
        </div>
        <div class="view_track">
            <!-- Audio image -->
            <audio controls autoplay>
                <source src="{{ url_for('static', filename=track_filename) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <!-- Audio title -->
            
        </div>
    </div>
    <!-- View track -->
</body>

</html>