<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DePhonic | View a Track</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <!-- Container Wrapper -->
        <div class="container">
            <!-- Company logo -->
            <a class="navbar_logo" href="">
                <img src="" />
            </a>
            <!-- Page tile -->
            <span>View Track</span>
            <!-- Logout button -->
            <button type="button" class="navbar_logout">Logout</button>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- View track -->
    <div class="view_track">
        <!-- Audio image -->
        <div class="audio_file">
            <img src="" alt="Track image">
        </div>
        <!-- Audio title -->
        <div class="title">
            <p></p>
        </div>
    </div>
    <!-- View track -->
</body>

<!-- Footer -->
<footer>
    <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Q & A</li>
    </ul>
</footer>

</html>